/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(250, 245, 238);
}

#nav-section {
  width: 100%;
  padding: 0.5rem 1rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.724);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

header {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main-heading {
  margin: 2rem 0 1rem 0;
}

#container {
  width: 55rem;
  padding: 0rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-container {
  width: 45rem;
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-container {
  margin: 1rem 0 0 0.5rem 0;
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-container-content {
  width: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#app-container-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#benefits-container {
  margin: 0 0 3rem 0;
  width: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.benefit-container {
  width: 14rem;
  height: 25rem;
  border-color: purple;
  border-style: dotted;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.benefit-description {
  margin: 0 0 1rem 0;
}

#app-container-content {
  padding: 1rem;

  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgba(196, 191, 191, 0.724);
}

li {
  margin: 0 0 0.4rem 0;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMAGES */

.img-benefit {
  width: 7rem;
}

#header-logo {
  width: 3rem;
}

#mobile-apps {
  width: 14rem;
}

#scroll-finger {
  width: 2rem;
  margin: 0 0 0 5rem;
}

#img-benefit0 {
  display: none;
}
