/* Built for mobile-S 320px first */

html {
  font-size: 0.9rem;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(243, 231, 214, 0.985);
  font-family: "Poppins", sans-serif;
  margin: 0 0 0 0;
}

#nav-section {
  background-color: rgba(255, 255, 255, 0.724);
  width: 100%;
}

.header-titles {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(212, 100, 2);
}

#nav-menu-app {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(212, 100, 2);
  text-decoration: none;
}

#nav-menu-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#main-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(36, 74, 144);
}

#header-left {
  padding: 0.5rem 1rem 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-desktop-title {
  display: none;
}

#container {
  width: 95%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-container {
  width: 80%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-text {
  text-align: justify;
}

#benefits-container {
  width: 80%;
  padding: 0rem;
}

.benefit-container {
  padding: 0.3rem 0.4rem 0.1rem 1rem;
  margin: 0.5rem 1rem 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;

  /* From https://css.glass */
  border: 1px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.benefit-header {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(2, 110, 212);
}

#app-container {
  background-color: white;
  width: 100%;
  padding: 0 0 2rem 0;
}

#app-container-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#list-title {
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(212, 100, 2);
}

.app-links {
  font-size: 1.3rem;
  text-decoration: none;
}

footer {
  margin: 0.7rem 0 0.4rem 0;
  background-color: rgba(243, 231, 214, 0.985);
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

/* IMAGES */

#intro-img {
  height: 8rem;
}

.img-benefit {
  display: none;
  height: 4rem;
}

#header-logo {
  width: 2.5rem;
}

.mobile-apps {
  width: 5rem;
}

#mobile-app-1 {
  display: none;
}

#mobile-app-app {
  margin: 3rem 2rem 0 0;
}

#app-image-left {
  width: 8rem;
}

#img-benefit0,
#mobile-app-2 {
  display: none;
}

/* for screens over 768px */
@media screen and (min-width: 768px) {
  /* tidy into images etc */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container {
    max-width: 968px;
  }

  html {
    font-size: 1rem;
  }

  .header-titles {
    font-size: 2.3rem;
    margin: 0 0 0 11.3rem;
    font-weight: bold;
    color: rgb(212, 100, 2);
  }

  #headerDate {
    font-size: 1.3rem;
  }

  #header-logo {
    width: 3.5rem;
  }

  #nav-menu-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  #nav-menu-app {
    font-size: 1.3rem;
    margin: 0 1rem 0 0;
  }

  #intro-img {
    display: none;
  }

  .benefit-container {
    display: flex;
    flex-direction: row;
  }

  .benefit-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0.5rem 1rem;
  }

  .benefit-header {
    margin: 1rem 0 0.1rem 0;
  }

  .img-benefit {
    display: block;
    height: 10rem;
  }

  #img-benefit0 {
    display: none;
  }

  #mobile-app-2,
  #mobile-app-1 {
    display: block;
    width: 9rem;
  }

  #mobile-app-app {
    display: none;
  }

  #app-list {
    margin: 0 5rem 0rem 0rem;
  }

  #app-container {
    padding: 1rem 0 1rem 0;
    background-color: #fef7f6;
  }

  #app-list {
    text-align: center;
  }
}
